@model FinanceWorld.Web.ViewModels.Courses.CoursesViewModel

@{
    this.ViewData["Title"] = "Create Course";
}

<form method="post">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <textarea asp-for="Price" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div id="lessons" class="mb-3">
        <label class="mr-3" asp-for="Lessons">Lessons</label>
        <a class="btn btn-primary mb-3" onclick="AddMore()">Add</a>
    </div>
    <input class="btn btn-success" type="submit" value="Submit" />
</form>

@section Scripts {
    <script>
        var index = 0;
        function AddMore() {
            $("#lessons").append("<div class=\"mb-3 d-flex flex-column\">Name: <input type='text' name='Lessons[" + index + "].Name' />Description <input type='text' name='Lessons[" + index + "].Description' /></div>");
            index++;
        }
    </script>
}