@model FinanceWorld.Web.ViewModels.Dictionaries.DictionaryListViewModel
@{ 
    this.ViewData["Title"] = "Financial terms";
}

<h1>@this.ViewData["Title"]</h1>
<div>
    @foreach (var term in Model.Terms)
    {
        <a asp-route-id="@term.Id">@term.Name</a>
    }
</div>
