@using FinanceWorld.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<partial name="_TickerPartial" />
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
