@model IEnumerable<CoursesViewModel>
@{
    this.ViewData["Title"] = "All courses";
}

@foreach (var course in Model)
{
    <div class="jumbotron mt-5">
        <h1 class="display-4 text-center">@course.Name</h1>
        <p class="lead">@course.Description</p>
        <hr class="my-4">
        <div class="text-center">
            <p class="font-weight-bold">Price for course is: @course.Price $</p>
        </div>
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg" asp-action="ById" asp-route-id="@course.Id" role="button">View course</a>
        </p>
    </div>
}