@model IEnumerable<CoursesViewModel>

@{
    this.ViewData["Title"] = "All courses";
}

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-sm-6 mb-3 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@course.Name</h5>
                    <p class="card-text text-truncate">@course.Description</p>
                    <p class="card-text">The price is: @course.Price $</p>
                    <a asp-action="ById" asp-route-id="@course.Id" class="btn btn-primary">View course</a>
                </div>
            </div>
        </div>
    }
</div>