@model IEnumerable<MyCoursesViewModel>

@{ 
    this.ViewData["Title"] = "My Courses";
}

<h1 class="text-center mb-3 mt-3">@this.ViewData["Title"]</h1>

<ul class="list-group">
    @foreach (var course in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @course.CourseName
            <span class="badge bg-primary rounded-pill">@course.Grade.ToString("f")</span>
        </li>
    }
</ul>