@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h3>
    An error occured while processing your request. The support
    team is notified and we are working on the fix
</h3>
<hr />
<h3>Exception Details:</h3>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
